In [1]:
import pandas as pd

from ts_package.utils import hello

In [4]:
%load_ext autoreload
%autoreload 2

In [7]:
df = pd.read_excel('./data/Project 1_2024.xlsx', sheet_name='Data', parse_dates=['Date'])
df.head()

        Date    Income   Outcome   Balance
0 2017-01-09  1.343028  1.487865 -0.155904
1 2017-01-10  1.068610  1.194182 -0.125572
2 2017-01-11  0.944429  0.936663  0.007767
3 2017-01-12  1.672202  0.875379  0.800391
4 2017-01-13  0.955924  0.975645 -0.019721

In [9]:
df.dtypes, df.isna().sum()

(Date       datetime64[ns]
 Income            float64
 Outcome           float64
 Balance           float64
 dtype: object,
 Date       0
 Income     0
 Outcome    0
 Balance    0
 dtype: int64)

In [1]:
!python --version

Python 3.11.5

In [6]:
hello()

'Hi, nIg'